@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default,
    dark,
    cupcake,
    caramellatte --prefers-dark,
    synthwave,
    retro,
    cyberpunk,
    coffee,
    dim,
    lofi,
    valentine,
    halloween,
    garden,
    forest,
    aqua,
    lofi,
    pastel,
    fantasy,
    wireframe,
    black,
    luxury,
    dracula;
}

body {
  font-family: 'DM Sans', system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', Georgia, serif;
}