@import "tailwindcss";

@plugin "daisyui" {
  themes: retro --default,
    dark,
    synthwave,
    retro,
    coffee --prefers-dark,
    dim,
    valentine,
    halloween,
    garden,
    black,
    luxury,
    dracula;
}

body {
  font-family: 'DM Sans', system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', Georgia, serif;
}